<p>
  If you want to add a contribution to this project, you are welcome to add your data at
  <a href='https://github.com/ignatandrei/netCoreAlphabet' target="_blank">
  https://github.com/ignatandrei/netCoreAlphabet</a>
</p>
<p>
  Site Web : <a target='_blank' href='https://ignatandrei.github.io/netCoreAlphabet/'>
    <img src='assets/images/angular.ico' width="20" height="20" /> https://ignatandrei.github.io/netCoreAlphabet/</a>
</p>
<p>
  
  Android <a target='blank'
    href='https://play.google.com/store/apps/details?id=com.github.ignatandrei.netcorealphabet&hl=en'>
    <img src='assets/images/android.png' width="20" height="20" />
    https://play.google.com/store/apps/details?id=com.github.ignatandrei.netcorealphabet&hl=en</a>
</p>
<p>
  Windows Store : <a target="_blank" href='https://www.microsoft.com/en-us/p/netcorealphabet/9pdx9rv0xhds'>
    <img src='assets/images/win.ico' width="20" height="20" />
 https://www.microsoft.com/en-us/p/netcorealphabet/9pdx9rv0xhds</a>

</p>
<p>
  Done by Andrei Ignat,<a target='blank' href='http://msprogrammer.serviciipeweb.ro/'>
    http://msprogrammer.serviciipeweb.ro/</a>
</p>

<p>
  Contributors:
</p>
<ul>
  <li>
    Cosmin Popescu : <a href='http://www.chestiiautomate.ro/'>http://www.chestiiautomate.ro/</a>
  </li>
</ul>
<h1>
  Privacy Policy:
</h1>
<p>
  WE DO NOT STORE ANY DATA. PERIOD.
</p><p>
We physically can’t. </p>
<p>
  We have nowhere to store it. </p>
<p>
  We don’t even have a server database to store it. </p>
<p>
  So even if Justin Bieber asked nicely to see your data, we wouldn’t have anything to show him.</p>
  <p>(Thanks to http://ecquire.com/blog/privacy-policy/ )</p>