<p>
  If you want to add a contribution to this project, you are welcome to add your data at
  <a href='https://github.com/ignatandrei/netCoreAlphabet' target="blank">
  https://github.com/ignatandrei/netCoreAlphabet</a>
</p>
<p>
  Site Web : <a target='blank' href='https://ignatandrei.github.io/netCoreAlphabet/'>
    https://ignatandrei.github.io/netCoreAlphabet/</a>
</p>
<p>
  Android <a target='blank'
    href='https://play.google.com/store/apps/details?id=com.github.ignatandrei.netcorealphabet&hl=en'>https://play.google.com/store/apps/details?id=com.github.ignatandrei.netcorealphabet&hl=en</a>
</p>

<p>
  Done by Andrei Ignat,<a target='blank' href='http://msprogrammer.serviciipeweb.ro/'>
    http://msprogrammer.serviciipeweb.ro/</a>
</p>

<h1>
  Privacy Policy:
</h1>
<p>
  WE DO NOT STORE ANY DATA. PERIOD.
</p><p>
We physically can’t. </p>
<p>
  We have nowhere to store it. </p>
<p>
  We don’t even have a server database to store it. </p>
<p>
  So even if Justin Bieber asked nicely to see your data, we wouldn’t have anything to show him.</p>
  <p>(Thanks to http://ecquire.com/blog/privacy-policy/ )</p>